body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, #5281A4, #E3EBF2, #5281A4) fixed no-repeat;
}

.no-padding {
    padding: 0;
}

a, li {
    outline: 0;
}

.navbar {
    background: #FFFFFF;
    border: 0 solid #ffffff;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #F6EF50;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
    color: #EC6350;
}

.home {
    display: none;
}

.book {

}

.highlights ul {
    list-style: none;
    display: table;
    width: 100%;
    padding: 0;
    margin-top: 30px;
}

.highlights ul.list li {
    overflow: hidden;
    display: table;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 4px;
    border-left: 10px solid rgba(231, 1, 15, 0.60);
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.highlights ul.list li:hover {
    opacity: 0.8;
}

.bg-style > h1, .bg-style > div, .bg-style > h3, .bg-style > h4 {
    padding: 15px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-left: 10px solid rgba(231, 1, 15, 0.60);
    margin-bottom: 4px;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}

.bg-style > .col-xs-4 {
    border: 0;
    box-shadow: 0 0 0;
}

.bg-style .thumbnail {
    padding: 0;
    margin-bottom: 0;
}

.bg-style-none {
    border: 0;
}

.bg-style-top {
    background: #ffffff;
}

.bg-style-top > h2 {
    padding: 4px;
    text-transform: uppercase;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background: rgba(231, 1, 15, 0.60);
    color: rgba(255, 255, 255, 1);
}

.bg-style-top > p {
    background: #ffffff;
    padding: 10px;
}



.highlights ul.list li {
    width: 100%;
}
.highlights ul.list li div.text  {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}


.highlights ul.list li div.number {

    display: table-cell;
    vertical-align: middle;
    text-align: left;

    font-size: 20px;
    background: rgba(231, 1, 15, 0.60);
    color: #FFFFFF;
    text-align: center;
}

.highlights ul.list li div.number > p:first-child{

}

.highlights ul.list li div.text {
    padding-left: 20px;
    text-transform: uppercase;
    font-size: larger;
    text-align: center;
}

.highlights ul.list li div.text p{
    font-size: 1.6em;
    text-align: left;
    margin: 0;
}

.circle {
    display: table;
    width: 125px;
    height: 125px;
    border: 10px solid #f6f6f6;
    overflow: hidden;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 125px;
    transition: all 400ms linear;
    margin-bottom: 4px;
}

.circle .content {
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
}

.circle .content > .number {
    font-size: 58px;
    display: block;
    clear: both;
    line-height: 1;
}

.navbar-nav > li{
    padding-left: 1.3em ;
}

.fa {
    font-size: 14px;
}

.navbar {
    min-height: 40px;
}

.col-md-2 {
    padding: 5px;
}

.col-md-2 > .thumbnail > p:first-child {
    font-size: 13px !important;
}
.col-md-2 > .thumbnail > p{
    text-align: center !important;
    font-size: 10px !important;
}
.col-md-2 > .thumbnail > p:nth-child(2) {
    margin-bottom: 0px;
    background-color: rgba(231, 1, 15, 0.60);
    color: #FFFFFF;
}
.thumbnail {
    padding: 0px;
    border: 1px solid #D74141;
}

/* Awesome cssmenu styles */
#cssmenu {
    background: rgba(231, 1, 15, 0.60);
    width: auto;
}
#cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}
#cssmenu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#cssmenu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#cssmenu.align-right ul li {
    float: right;
}
#cssmenu.align-center ul {
    text-align: center;
}
#cssmenu ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}

#cssmenu ul li a:hover {
    color: #F6EF50;
}
#cssmenu ul li a:hover:before {
    width: 100%;
}
#cssmenu ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}
#cssmenu ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #F6EF50;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
    display: none;
}
#cssmenu ul li.active a {
    color: #F6EF50;
}
#cssmenu ul li.active a:before {
    width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
    display: block;
}
#cssmenu.align-right li:first-child a:after {
    display: none;
}
@media screen and (max-width: 768px) {
    #cssmenu ul li {
        float: none;
        display: block;
    }
    #cssmenu ul li a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #fb998c;
    }
    #cssmenu ul li.last > a,
    #cssmenu ul li:last-child > a {
        border: 0;
    }
    #cssmenu ul li a:after {
        display: none;
    }
    #cssmenu ul li a:before {
        display: none;
    }
}


/* IE Fixes */